body{
  margin: 0px;
  background-color: #f4fbff;;
}

header{
  background-color: black;
  align-items: center;
  display: block ;
  justify-content: space-between;

}
header h1{
  text-decoration: none;
  color: white;
}
header h1 a {
  color: white;
  text-decoration: none;
}
header h1 a:hover{
  color: grey;
}


.navbar{
  justify-content: space-between;
  align-items: center;
  display: flex;
}
ol {
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
li{
  margin: 10px;
}

 li a{
   color: white;
   text-decoration: none;
 }

li a:hover{
  color: grey;
}
/* --------------------------termina la navbar------------------ */
/* -----------------------------empieza el hero----------------- */
.hero{
  margin-top: 10px;
  font-family: 'Fredericka the Great';
}

.container{
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.hero h1{
  margin-left: 10%;
  font-size: 30px;
  line-height: 1.5;

}
h1 strong {
  color: blue;
}





/* -----------seccion-------------- */
body > section.contacto{
  color: white;
  background-color:#2994B2;
  /* background-color */
  /* position: bottom; */
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacto h2{
  margin-left: 15px;
}

form{
  margin: 0 15px 0 0;
}
